<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Anagram Checker</title>
</head>
<body>
    <div class="container">
        <h1>Anagram Checker</h1>
        <form action="/results">
            <div class="form-group">
                <label for="user_word">Enter a keyword:</label>
                <input id="user_word" name="user_word" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="user_bank">Enter a wordbank:</label>
                <input id="user_bank" name="user_bank" class="form-control" type="text">
            </div>
            <button type="submit" class="btn-success">Submit</button>
        </form>
    </div>
</body>
</html>
